html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ========== NỀN ========== */
.bg-color {
  /* background: linear-gradient(to right, rgb(3, 85, 79), rgb(86, 96, 103), rgb(96, 133, 96)); */
  background-color: rgb(17, 24, 39);
  max-width: 1440px;
  width: 100%;
  /* height: 681px; */
  color: white;
  margin: 0 auto;
}

/* ========== BỐ CỤC CHÍNH ========== */
.layout {
  max-width: 1440px;
  width: 100%;
  /* height: 681px; */
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}
.header .navigation {
  width: 100%;
  max-width: 1440px;
  height: 62px;
}
/* .header {
  padding: 32px 0 8px;
}
.header.fixed {
  position: sticky;
  top: -30px;
} */
/* ========== THANH ĐIỀU HƯỚNG ========== */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(to right, rgb(77, 66, 101), rgb(18, 5, 48)); */
  background-color: rgb(2, 6, 23);
  padding: 1.8rem 16.8rem;
  flex-wrap: wrap;
}
.header .navigation nav {
  padding: 5px 0;
}
.navigation img {
  max-width: 115px;
  height: 30px;
  width: 100%;
}
span {
  color: yellow;
}
.main {
  max-width: 1440px;
  width: 100%;
  height: 619px;
  padding: 96px 174px;
}
.home .navigation nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: white;
}
.active {
  color: rgb(223, 115, 115);
  font-weight: bold;
}
.navigation nav ul li a {
  cursor: pointer;
  transition: color 0.3s;
}

.home .navigation nav ul li a:hover {
  color: rgb(10, 91, 85);
  font-weight: bold;
  text-shadow: 10px 0v 0 currentColor;
}

/* ========== NỘI DUNG ========== */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1092px;
  height: 427px;
  flex-wrap: wrap; /* Cho responsive */
}
.body {
  padding: 78px 0;
}
/* Giới thiệu bản thân */
.introduce {
  max-width: 466px;
  width: 100%;

  height: 271px;
}

.introduce h2 {
  font-size: 1.6rem;
}

.introduce h1 {
  font-size: 4.2rem;
  margin-top: 2.4rem;
  font-weight: 500;
}

.introduce p {
  margin-top: 24px;
  font-size: 1.6rem;
  /* line-height: 1.6; */
}

.introduce button {
  margin-top: 2.4rem;
  padding: 8px 20px;
  border: none;
  border-radius: 2rem;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(155, 107, 72) 0%, rgb(147, 143, 120) 16.667%, rgb(106, 151, 148) 33.333%, rgb(50, 128, 145) 50%, rgb(0, 82, 112) 66.667%, rgb(0, 31, 62) 83.333%, rgb(0, 0, 14) 100%);
  transition: transform 0.2s, opacity 0.2s;
}

.introduce button:hover {
  transform: scale(1.05);
  opacity: 0.9;
  background: white;
  color: black;
  cursor: pointer;
}

/* Ảnh cá nhân */
.img {
  /* flex: 1 1 300px; */
  display: flex;
  max-width: 427px;
  width: 100%;

  height: 427px;
  margin-left: 199px;
}

.img img {
  max-width: 427px;
  width: 100%;

  height: 427px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

/* ========== RESPONSIVE ==========  */
/* @media (max-width: 1024px) {
  .navigation {
    padding: 2rem 5rem;
  }
  .content {
    padding: 6rem 5rem;
  }
  .introduce h1 {
    font-size: 4rem;
  }
  .introduce p {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
    padding: 4rem 2rem;
  }

  .navigation nav ul {
    gap: 2rem;
    font-size: 2rem;
  }

  .introduce {
    margin-bottom: 5rem;
  }

  .img img {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 480px) {
  .navigation {
    flex-direction: column;
    gap: 1rem;
  }

  .navigation h1 {
    font-size: 3rem;
  }

  .navigation nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.8rem;
  }

  .introduce h1 {
    font-size: 3.2rem;
  }

  .introduce p {
    font-size: 1.6rem;
  }

  .introduce button {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
} */
/* ======================ABOUT ME==================== */
.aboutme {
  background-color: rgb(2, 6, 23);
  height: 704px;
  padding: 0 166px;
}

.about-img .nen {
  max-width: 475px;
  width: 100%;

  height: 502px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.about-img .anh {
  max-width: 475px;
  width: 100%;

  height: 475px;
  position: absolute;
  top: 0;
  right: 0;
  /* left: -35px; */
  z-index: 2;
}
.about-img {
  max-width: 510px;
  width: 100%;

  height: 512px;
  margin-right: 89px;
  position: relative;
}

.about-body {
  padding: 96px 0;

  width: 100%;
  max-width: 1108px;
  display: flex;
}
.about-container {
  padding: 82px 0;
}
.about-content {
  width: 100%;
  max-width: 509px;
  height: 348px;
}
.images .nen {
  bottom: 0;
}
.about-content h1 {
  font-size: 4.2rem;
}
.about-content p {
  font-size: 1.6rem;
  margin-top: 32px;
}
.about-content button {
  margin-top: 40px;
  font-size: 1.6rem;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: black;
  color: white;
}
.about-content button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
/* ================SERVICE============== */
.service {
  height: 759px;
  background-color: rgb(17, 24, 39);
  padding: 96px 165px;
}
.service-body {
  width: 100%;
  max-width: 1110px;
  height: 567px;
}
.service-container {
  width: 100%;
  max-width: 461px;
  height: 169px;
}
.service-container h1 {
  font-size: 4.2rem;
}
.service-container p {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.2;
}
.service-box {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}
.service-content,
.service-content2,
.service-content3 {
  width: 100%;
  max-width: 350px;
  height: 342px;
  background-color: rgb(2, 6, 23);
  padding: 32px;
  display: block;
  text-align: center;
  border-radius: 20px;
}
.service-box1,
.service-box2,
.service-box3 {
}
.service-content h2,
.service-content2 h2,
.service-content3 h2 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 32px;
}
.service-content h3,
.service-content2 h3,
.service-content3 h3 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 5px;
}
.service-content p,
.service-content2 p,
.service-content3 p {
  font-size: 1.6rem;
  margin-top: 16px;
  line-height: 1.2;
}
/* ===============Portfolio================ */
.portfolio {
  height: 1006px;

  width: 100%;
  max-width: 1440px;
  background-color: rgb(2, 6, 23);
  padding: 0 165px;
}
.port-body {
  width: 100%;
  max-width: 1110px;
  height: 1006px;
}
.port-main {
  /* padding: 0 165px; */
}
.myportcontent {
  height: 345px;

  width: 100%;
  max-width: 1110px;

  padding: 96px 325px 80px 325px;
}
.my-port {
  width: 100%;
  max-width: 460px;
  height: 169px;
}

.content-port {
  height: 565px;

  width: 100%;
  max-width: 1110px;
}

.my-port h1 {
  font-size: 4.2rem;
  text-align: center;
}
.my-port p {
  font-size: 1.6rem;
  margin-top: 24px;
  text-align: center;
}
.content-port {
  display: flex;
}
.content-port .box1 {
  width: 100%;
  max-width: 540px;
  height: 565px;
}
.content-port .box1 img {
  max-width: 540px;
  max-height: 565px;
}
.content-port .box2 {
  width: 100%;
  max-width: 543px;
  height: 565px;
  display: flex;
  margin-left: 27px;
}
.content-port .box2 .img-port {
  width: 100%;
  max-width: 256px;

  height: 565px;
  margin-right: 31px;
  flex-direction: column;
  /* justify-content: flex-start; */
  display: flex;
}
.content-port .box2 .image-port {
  width: 100%;
  max-width: 256px;
  height: 565px;
  display: flex;
  flex-direction: column;
}
.img1,
.img2,
.image1,
.image2 {
  width: 100%;
  max-width: 256px;
  height: 268px;
}
.box2 .img-port .img2 {
  margin-top: 29px;
}
.box2 .image-port .image2 {
  margin-top: 29px;
}
/* ====================my experiences============== */
.Experiences {
  background-color: rgb(2, 6, 23);
}
.experiences {
  height: 714px;
  width: 100%;
  max-width: 1424px;

  background-color: rgb(17, 24, 39);
  padding: 85px 149px;
  margin: 0 auto;
}
.experiences-body {
  width: 100%;
  max-width: 1126px;
  height: 544px;
}
.experiences-container {
  width: 100%;
  max-width: 730px;
  height: 142px;
}
.experiences-container h1 {
  font-size: 4.2rem;
}
.experiences-container p {
  margin-top: 24px;
  font-size: 1.6rem;
  /* line-height: 1.2; */
}
.experiences-box {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.experiences-content,
.experiences-content3 {
  height: 303px;
  width: 100%;
  max-width: 366px;
  background-color: rgb(2, 6, 23);
  padding: 32px;
  display: block;
  /* text-align: center; */
  border-radius: 20px;
}

.experiences-content2 {
  width: 100%;
  max-width: 366px;
  height: 322px;
  background-color: rgb(2, 6, 23);
  padding: 32px;
  display: block;
  /* text-align: center; */
  border-radius: 20px;
}
/* .experiences-box1,
.experiences-box2,
.experiences-box3 {
} */
.experiences-content h2,
.experiences-content2 h2,
.experiences-content3 h2 {
  font-size: 2.6rem;
  font-weight: bold;
  /* margin-top: 32px; */
}
.experiences-content h3,
.experiences-content2 h3,
.experiences-content3 h3 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 5px;
}
.experiences-box .strong {
  font-size: 1.6rem;
  font-weight: bold;
}
.experiences-content p,
.experiences-content2 p,
.experiences-content3 p {
  font-size: 1.6rem;
  margin-top: 16px;
  line-height: 1.2;
}
/* ===================Contact=============== */
.contact {
  width: 100%;
  max-width: 1440px;
  height: 1062px;
  background-color: rgb(2, 6, 23);
  display: flex;
  flex-direction: column;
}
.contact-box {
  padding: 0 165px;
}
.box-contact1 {
  width: 100%;
  max-width: 1110px;
  height: 742px;
  /* padding: 0 165px; */
}
.box-information {
  width: 100%;
  max-width: 684px;

  height: 320px;
}
.box-contact2 {
  padding: 0 378px;
}
.contact-body {
  padding: 56px 212px;
}
.bodycontact {
  width: 100%;
  max-width: 686px;
  height: 142px;
  text-align: center;
}
.maincontact {
  width: 100%;
  max-width: 1110px;

  height: 352px;
  display: flex;
  justify-content: space-between;
}
.contact-main {
  padding: 50px 0;
}
.main-content {
  width: 100%;
  max-width: 347px;
  height: 252px;
}
.main-content1 {
  width: 100%;
  max-width: 540px;
  height: 352px;
}
.information-content {
  padding: 50px 0;
}
.boxinf {
  width: 100%;
  max-width: 684px;
  height: 140px;
  text-align: center;
}
.inf-icon {
  width: 100%;
  max-width: 255px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.information {
  width: 100%;
  max-width: 685px;

  height: 80px;
  padding: 0 215px;
}
.inf-icon .icon-contact {
  width: 100%;
  max-width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}
.boxinf h2 {
  font-size: 4rem;
}
.boxinf p {
  font-size: 1.6rem;
  margin-top: 20px;
  line-height: 1.2;
}
.bodycontact h1 {
  font-size: 4.2rem;
}
.bodycontact p {
  font-size: 1.6rem;
  margin-top: 15px;
  line-height: 1.2;
}
.main-content h3 {
  font-size: 1.6rem;
  margin-top: 40px;
}
.main-content span {
  font-weight: bold;
}
.main-content1 .name {
  width: 100%;
  max-width: 350px;
  height: 63px;
  font-size: 1.6rem;
  border-radius: 10px;
}
.main-content1 .text {
  width: 100%;
  max-width: 540px;
  height: 166px;
  margin-top: 32px;
  font-size: 1.6rem;
  border-radius: 10px;
}
.main-content1 button {
  width: 100%;
  max-width: 123px;
  height: 59px;
  margin-top: 32px;
  font-size: 1.6rem;
  border-radius: 50px;
  background-color: white;
  color: black;
}
.main-content1 button:hover {
  background-color: black;
  color: white;
}
